@import "bootstrap-sprockets";
@import "bootstrap";

$maroon: #7b2f3d;
$gold: #c8b682;
$silver: #cccccc;
$grey: #919394;
$darkGrey: #5b5d5f;

/* header */

header .logo {
  float: left;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

header .navbar-nav li a {
  line-height: 100px;
  font-size: 16px;
}

header .navbar-nav {
  margin-right: 20px;
  margin-bottom: -80px;
}

header nav.navbar.shrink {
  min-height: 60px;
}


header .navbar-default {
  background-color: $maroon;
  border-color: $maroon;

  .navbar-nav {
    > li {
      > a {
        color: $silver;
        &:hover, &:focus {
          color: $gold;
        }
      }

    }
  }
}


