// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

$maroon: #7b2f3d;
$gold: #c8b682;
$silver: #cccccc;
$grey: #919394;
$darkGrey: #5b5d5f;

#jumbotronDescription {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  //color: #777;
}


.homepageSection {
  padding-bottom: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#homepage2, #homepage4 {
  background-color: #eeeeee;
}