<footer class="footer">
  <div class="container-fluid">
    <small>
      <a href="http://www.thenoteway.com/">The Noteway</a> 2017
    </small>
    <!--<nav>
      <ul>
        <li>-<%#= link_to "About",   '#' %></li>
        <li><%#= link_to "Contact", '#' %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
      </ul>
    </nav>
    -->
  </div>
</footer>